/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#videoPlayer {
    display: none;
}
